[*.cs]

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = silent

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = silent

# CA2012: Use ValueTasks correctly
dotnet_diagnostic.CA2012.severity = silent

# AD0001: Analyzer Failure (2020/07/15 currently flawed. Might be useful to remove for later.)
dotnet_diagnostic.AD0001.severity = silent
